@font-face {
    font-family: "HelveticaNeue";
    src: url("./fonts/HelveticaNeue.ttc");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeue";
}
main{
    display: flex;
}

.top-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.back-arrow {
    position: absolute;
    transform: translate(-78px);

}
.cv-generator{
    width: 57.1875%;
    padding: 47px 150px 0px;
    background-color: #F9F9F9;
}
.cv-generated{
    width: 42.8125%;
}


h1{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1A;
    margin-bottom: 12px;
}
hr {
    border: 1px solid #1A1A1A;
    margin-bottom: 77px;
}


.name-surname{
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.name, .surname{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 125px;
    width: 371px;
    position: relative;
}

label{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.upload-photo{
    font-size: 18px;
    line-height: 22px;
    color: #1A1A1A;
}

input , textarea{
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    height: 48px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding-left: 16px;
    color: #000000;
}
input:focus , textarea:focus{
    outline: 0;
    border: 2px solid #BCBCBC;
}
textarea:not(:placeholder-shown){
    border: 1px solid #98E37E;
}
p{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
}
.image-upload{
    margin-left: 19px;
    border: none;
    width: 107px;
    height: 27px;  
    background: #0E80BF;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    position: relative;
    
}

.image-upload input[type='file']{
    position: absolute;
    transform: scale(3);
    opacity: 0;
    
}
input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}

.about-me{
    display: flex;
    flex-direction: column;
    margin-top: 49px;
    margin-bottom: 33px;
}
textarea{
    padding-top: 13px;
    height: 103px;
    resize: none;
}
.mail{
    position: relative;
}
.phone{
    position: relative;
    margin-top: 29px;
    margin-bottom: 160px;
}
.pages{
    display: flex;
    justify-content: flex-end;
}
.next-page{
    width: 151px;
    height: 48px;
    background: #6B40E3;
    border-radius: 4px;
    border: none;
}
.next-page a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    text-decoration: none;
}
