@font-face {
    font-family: "HelveticaNeue";
    src: url("./fonts/HelveticaNeue.ttc");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeue";
}
section{
    padding: 68px 75px 0px 80px
}

.name-surname1{
    display: flex;
    gap: 20px;
    margin-bottom: 17px;
}
h2{
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #F93B1D;
}



.user-img{
    position: relative;
}
.image{
    position: absolute;
    width: 246px;
    height: 246px;
    border-radius: 133px;
    overflow: hidden;
    right: 0;
    top: -130px;
 
}
.image img{
    width: 100%;
}