@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.ttc");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Helvetica Neue";
}
main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
form {
  width: 50%;
  padding: 2.5rem 4.5rem;
  background-color: #f9f9f9;
  overflow: auto;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
}
aside {
  height: 100%;
  width: 50%;
  padding: 2.5rem 4.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
aside hr {
  border: 1px solid #c8c8c8;
}
.names {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #f93b1d;
}
h3 {
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 22px;
  color: #f93b1d;
}
h4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #1a1a1a;
}
date {
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #919191;
}
hr {
  border: 1px solid #1a1a1a;
}
.field-hr {
  border: 1px solid #bcbcbc;
}
.button-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 464px;
  height: 60px;
  background: #1a1a1a;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.page-button {
  width: 151px;
  height: 48px;
  background: #6b40e3;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #ffffff;
}
.add-button {
  width: 289px;
  height: 48px;
  background: #62a1eb;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
}

input,
textarea {
  font-family: "Helvetica Neue";
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
textarea {
  resize: none;
  height: 103px;
}
select {
  outline: none;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
input:focus,
textarea:focus {
  outline: 0;
}
.image-upload {
  border: none;
  width: 107px;
  height: 27px;
  background: #0e80bf;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
  position: relative;
}
.profile-img {
  width: 246px;
  height: 246px;
  border-radius: 133px;
  overflow: hidden;
}

.success {
  border: 1px solid #98e37e;
}
.error {
  border: 1px solid #ef5050;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.bg-logo {
  position: absolute;
  top: 60%;
  left: 60%;
}

/* utility classes */

/* ==== Flex & Layout ==== */
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.ai-c {
  align-items: center;
}
.jc-s {
  justify-content: start;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
/* ==== Flex & gaps ==== */
.g-0\.5 {
  gap: 0.5rem;
}
.g-1 {
  gap: 1rem;
}
.g-2 {
  gap: 2rem;
}
.g-3 {
  gap: 3rem;
}
.g-3\.5 {
  gap: 3.5rem;
}
/* ==== Spacing ==== */
.m-auto {
  margin: auto;
}
.p-0\.5 {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2.5rem;
}
.p-1\.5 {
  padding: 1.5rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2\.5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.py-1\.5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-3 {
  padding: 3rem 0;
}
.mb-2 {
  margin-bottom: 2rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pl-2 {
  padding-left: 2rem;
}
.py-0\.5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-0\.8 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
/* ==== Width & Height ==== */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-1\/2 {
  width: 50%;
}
.w-1 {
  width: 1rem;
}
.h-1 {
  height: 1rem;
}
.w-3 {
  width: 3rem;
}
.h-2\.125r {
  height: 2.125rem;
}

/* ==== Typography ==== */
.ta-c {
  text-align: center;
}
.sm {
  font-size: 0.8125rem;
  letter-spacing: 0.02em;
}
.md {
  line-height: 1rem;

  font-size: 0.875rem;
  letter-spacing: 0.018em;
  font-weight: 500;
}
.lg {
  line-height: 1.3rem;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.xl {
  font-size: 1.25rem;
  letter-spacing: -0.01em;
}
.xxl {
  font-size: 1.75rem;
  letter-spacing: -0.02em;
}
.italic {
  font-style: italic;
}
/* ==== Positioning ==== */
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.bottom-0 {
  bottom: 0;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}
.z-10 {
  z-index: 10;
}
/* ==== Transition & Transform ==== */
/* === cursor === */
.pointer {
  cursor: pointer;
}
.op-0 {
  opacity: 0;
}
.transform-1\/2 {
  transform: translateX(50%);
}

.labelError {
  color: #e52f2f;
}
