
.name-surname1{
    display: flex;
    gap: 20px;
    margin-bottom: 17px;
}


.user-img{
    position: relative;
}
.image{
    position: absolute;
    width: 246px;
    height: 246px;
    border-radius: 133px;
    overflow: hidden;
    right: 0;
    top: -130px;
 
}
.image img{
    width: 100%;
}