@font-face {
        font-family: "HelveticaNeue";
        src: url("../fonts/HelveticaNeue.ttc");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    background-image:url(../imiges/LOGO-40\ 1.png), url(../imiges/shutterstock_2189773743\ 1.png);
    background-repeat: no-repeat;
    background-position: 1076px 550px, 0 0;
}
main { 
    width: 95%;
    margin: auto;
}
header div {
    padding: 25px 0px 26px;
}
hr {
    border: 1px solid #1A1A1A;
}
.button{
    height: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 464px;
    height: 60px;
    background: #1A1A1A;
    border-radius: 8px;
}
a{
    color: #ffffff;
    font-size:20px ;
    font-family: "HelveticaNeue";
    font-weight: 500;
    text-decoration: none;
}
